# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) Scala
4) Java

**Objectives:**
- Learned about popular languages in data science
- Learned about popular libraries in data science
- Learned basics of programing and using popular data science tools

Some of the commonly used libraries used by Data Scientists include:

1) Matplotlib
2) Pandas
3) Scipy
4) Numpy

|Data Science tools|
|----|
|JupyterNotebook|
|Github|
|Apache spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

- 2+3=5
- 3-2=1
- 2*2=4
- 6/2=3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author

Avinash Sahu